include ../text-field/text-field.pug

mixin masked-text-field(arguments={})
  -
    const {
      label='',
      name='',
      placeholder='',
      type='text',
      value=''
    } = arguments

  +text-field({label})
    .masked-text-field
      input.masked-text-field__input.js-masked-text-field(
        type=type,
        name=name,
        id=id,
        placeholder=placeholder,
        value=value
      )
