mixin masked-text-field(arguments = {})
  -
    const {
      label = '',
      name = '',
      placeholder = '',
      type = 'text',
      value = ''
    } = arguments

  .masked-text-field
    .masked-text-field__label= label
    input.masked-text-field__input.js-masked-text-field(
      type=type,
      name=name,
      id=id,
      placeholder=placeholder,
      value=value
    )
