mixin masked-text-field({id='masked-text-field',name="",placeholder='', type='text', value=""}={})
	.text-field
		.text-field__container
			input.text-field__input.masked-text-field.js-masked-text-field(
				type=type,
				name=name,
				id=id,
				placeholder=placeholder,
				value=value
			)
