mixin widget-title({text=''}={})
  h1.widget-title= text

mixin title-inside-widget({text=''}={})
  h2.title-inside-widget= text

mixin block-label({text=''}={})
  h3.block-label= text

mixin block-sub-label({text=''}={})
  h3.block-sub-label= text

mixin body-text({text=''}={})
  .body-text= text
