include ../button/button.pug

mixin nav(arguments = {})
  -
    const {
      state = 'no-authorized', 
      name = '', 
      isBurger = false,
      data = []
    } = arguments

    const { links, buttons } = data

    const classes = isBurger ? 'nav_folded' : ''

  nav.nav(class=classes)
    .nav__links
      each link in links
        - const { type, text, items, href } = link
        if type === "link"
          a.nav__item(href=href data-text=text)= text
        if type === "list"
          .nav__item.nav__item_folded.js-nav__item_folded(data-text=text)= text
             .nav__list.js-nav__list 
               each item in items
                 - const { href, text } = item
                 a.nav__item(href=href data-text=text)= text
    .nav__buttons
        if state === 'authorized'
           a.nav__item.nav__item_separated(href="/mock-address/change-me" data-text=name)= name
        else
          each button in buttons
            - const { theme, text, href } = button
            a.nav__button(class=`nav__button_${theme}` href=href)= text
