

mixin button({text="",isOutlined=false,size='sm',inHeader=true})
        if isOutlined
                button.button.button_outlined(class=inHeader ? `button_in-header button_${size}` : `button_${size}` type="submit")
                        +label({text})
        else
                button.button(class=inHeader ? `button_in-header button_${size}` : `button_${size}` type="submit")
                        +label({text})

