

mixin button(text,isEmpty=true,isLong=false,inHeader=false)
        if isEmpty
                button.input-button.input-button_empty(type="submit" class=inHeader ? 'input-button_in-header' : 'null' )=text
        else if isLong
                button.input-button.input-button_long(type="submit" class=inHeader ? 'input-button_in-header' : 'null')=text
        else
                button.input-button(type="submit")=text

mixin no-bordered-button(text)
        button.input-button.input-button_no-bordered(type="submit")=text