mixin card-room-info(props = {})
  -
    const {
      roomNumber = '', 
      isLuxury = '', 
      price = '', 
      size = ''
    } = props

    const roomClasses = `card-room-info__room_${size}`
    const numberClasses = `card-room-info__room-number_${size}`

  .card-room-info
    .card-room-info__room(class=roomClasses)
      .card-room-info__room-number-symbol №
      .card-room-info__room-number(class=numberClasses)= roomNumber
      if isLuxury
        .card-room-info__room-luxury Люкс
    .card-room-info__price
      .card-room-info__price-value #{price.toLocaleString()}₽
      .card-room-info__price-in-time в сутки
