mixin card-room-info(arguments = {})
  -
    const {
      roomNumber = '', 
      isLuxury = '', 
      price = '', 
      size = ''
    } = arguments

    const blockClasses = `card-room-info_${size}`
    const classes = `card-room-info__room-number_${size}`

  .card-room-info(class=blockClasses)
    .card-room-info__room
      .card-room-info__room-number-symbol №
      .card-room-info__room-number(class=classes)= roomNumber
      if isLuxury
        .card-room-info__room-luxury Люкс
    .card-room-info__price
      .card-room-info__price-value #{price}₽
      .card-room-info__price-in-time в сутки
