include ../range-date/range-date.pug
include ../card-room-info/card-room-info.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../card/card.pug

mixin booking-card(arguments={})
  -
    const {
      roomNumber='',
      price='', 
      isLuxury=false,
      dateFrom='',
      dateTo='',
      days='',
      servicePrice='',
      serviceDiscount='',
      addServicePrice='',
      addServiceDiscount='',
      guests=[]
    } = arguments
  -
    const daysPrice =
      price * days;

    const servicePriceWithoutDiscount =
      servicePrice - serviceDiscount;

    const addServicePriceWithoutDiscount =
      addServicePrice - addServiceDiscount;

    const totalPrice =
      daysPrice + servicePriceWithoutDiscount + addServicePriceWithoutDiscount
      - serviceDiscount - addServiceDiscount;

    const dayText = 
      `${price.toLocaleString()}₽ х ${days} суток`

    const dayPriceText =
      `${daysPrice.toLocaleString()}₽`

    const serviceText =
      `Сбор за услуги${serviceDiscount ?
      `: скидка ${serviceDiscount.toLocaleString()}₽` : 
      ''}`

    const servicePriceText = 
      `${servicePriceWithoutDiscount.toLocaleString()}₽`

    const addServiceText = 
      `Сбор за дополнительные услуги ${addServiceDiscount ?
      `:скидка ${addServiceDiscount.toLocaleString()}₽` :
      ''}`

    const addServicePriceText = 
      `${addServicePriceWithoutDiscount}₽`

    const finalCostText =
      `${totalPrice.toLocaleString()}₽`

  +card
    .booking-card
      .booking-card__room-info 
        +card-room-info({roomNumber, price, isLuxury, size:'lg'})
      .booking-card__date 
        +range-date({from:'Прибытие', to:'Выезд', dateFrom, dateTo})
      .booking-card__guests 
        +dropdown({label:'Гости',type:'guests', data:guests})
      .booking-card__cost 
        .booking-card__day= dayText
        .booking-card__day-price= dayPriceText
        .booking-card__service= serviceText
          img(
            src="assets/images/services.svg",
            weight=20,
            height=20,
            alt="true"
          )
        .booking-card__service-price= servicePriceText
        .booking-card__add-service= addServiceText
          img(
            src="assets/images/services.svg",
            weight=20,
            height=20,
            alt="services"
          )
        .booking-card__add-service-price= addServicePriceText
      .booking-card__final-cost 
        .booking-card__final-cost-text Итого
        .booking-card__points
        .booking-card__final-cost-text= finalCostText
      .booking-card__button 
        +button({text:'Забронировать',type:'filled',isLargest:true})
