include components/datepicker/datepicker.pug

mixin range-date(props = {})
  -
    const { 
      from = 'Прибытие', 
      to = 'Выезд', 
      dateFrom = '', 
      dateTo = '' 
    } = props

  .range-date(data-datepicker="true")
    .range-date__fields
        .range-date__container
          .range-date__label=from
          .range-date__field
            input.range-date__input(
              class="range-date__input_from js-range-date__input_from"
              name=name,
              placeholder="ДД.ММ.ГГГГ",
              autocomplete="off",
              value=dateFrom
            )
            .range-date__arrow
        .range-date__container
          .range-date__label=to
          .range-date__field
            input.range-date__input(
              class="range-date__input_to js-range-date__input_to"
              name=name,
              placeholder="ДД.ММ.ГГГГ",
              autocomplete="off",
              value=dateTo
            )
            .range-date__arrow
    .range-date__datepicker
      +datepicker({ dateFrom, dateTo })
