include ../text-titles/text-titles.pug
include ../datepicker/datepicker.pug

mixin range-date({from='Прибытие', to='Выезд', idTo='date-from', idFrom='date-to'}={})
  .range-date
    .range-date__text-fields
      +text-field({label:from})
          input.range-date__input(
            id=idFrom,
            name=name,
            data-range='true',
            placeholder='ДД.ММ.ГГГГ'
          )
      +text-field({label:to})
          input.range-date__input(
            id=idTo,
            name=name,
            data-range='true',
            placeholder='ДД.ММ.ГГГГ'
          )
    .range-date__datepicker
      +datepicker
