include ../components/header/header.pug
include ../components/footer/footer.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="toxin website")
    meta(name="keywords", content="toxin hotel")
    link(
      rel="apple-touch-icon",
      sizes="60x60",
      href="assets/favicons/apple-touch-icon.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="assets/favicons/favicon-32x32.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="assets/favicons/favicon-16x16.png"
    )
    link(
      rel="mask-icon",
      href="assets/favicons/safari-pinned-tab.svg",
      color="#5bbad5"
    )
    block title
  body 
    - const headerNavigation = require('../../../data/header-navigation-data')
    - const { data: footerNavigation } = require('../../../data/footer-navigation-data')
  
    +header({ data: headerNavigation })
    block page
    +footer({ data: footerNavigation })
