mixin checkbox({text='',state='',name='',id=''}={})
	label.checkbox
		if state === 'checked'
			input.checkbox__input(type='checkbox', name=name, id=id, checked=state)
		else
			input.checkbox__input(type='checkbox', name=name, id=id)
		span.checkbox__custom-input
		.checkbox__title
			+body-text({text})
