
- let idCheckbox = 0

mixin checkbox(names,isOpening)
    if isOpening
        h3.label.label_mb_16(class=isOpening ? 'label_checkbox-list' : null) expandable checkbox list
    .input-selection.input-selection_checkbox(class=isOpening ? 'input-selection_checkbox-list' : null)
        each title, name in names
                label(for=`checkbox${++idCheckbox}`).input-selection__item.input-selection__item_checkbox
                    input(type="checkbox" name=name id=`checkbox${idCheckbox}`).input-selection__field
                    span.input-selection__field-custom.input-selection__field-custom_checkbox
                    .input-selection__title=title