- let id = 0

mixin inputText(labelName,name,placeholder,type='text',value="")
    .input-item
        label(for="input-text").input-label=labelName
        input(type=type, name=name id=`input-text-${id++}` placeholder=placeholder value=value).input-item__field

mixin inputMaskedText(labelName,name,placeholder,type='text',value="")
    .input-item
        label(for="input-text-masked").input-label=labelName
        input(type=type, name=name id="input-text-masked" placeholder=placeholder value=value).input-item__field.input-item__field_masked

mixin inputDropDown(labelName)
    .input-item
        label(for="dropdown").input-label=labelName
        div(class='input-item__dropdown dropdown iqdropdown' id="dropdown") 
            p(class='dropdown__selection iqdropdown-selection') 

mixin inputDropDownDate(labelName)
    .input-item
        label(for="dropdown").input-label=labelName
        div(class='input-item__dropdown dropdown iqdropdown' id="dropdown") 
            p(class='dropdown__selection iqdropdown-selection') 




        