include ../datepicker/datepicker.pug

mixin filter-date({ label = '', dateFrom = '', dateTo = '', placeholder = '' } = {})
  -
    const months = [
      'Янв',
      'Фев',
      'Мар',
      'Апр',
      'Май',
      'Июн',
      'Июл',
      'Авг',
      'Сен',
      'Окт',
      'Ноя',
      'Дек',
    ];

    const MONTH = 1
    const DAY = 0

    const dateFromArray = dateFrom.split('.')
    const dateToArray = dateTo.split('.')

    const fromMonth = months[Number(dateFromArray[MONTH])-1] 
    const toMonth = months[Number(dateToArray[MONTH])-1]

    const shortDateFrom = `${dateFromArray[DAY]} ${fromMonth}`
    const shortDateTo = `${dateToArray[DAY]} ${toMonth}`

    const value = 
      dateTo && dateFrom ? 
      `${shortDateFrom} - ${shortDateTo} `:
      'Выберите дату'


  .filter-date(data-datepicker="true")
    .filter-date__label=label
    .filter-date__field
      input.filter-date__input.js-filter-date__input(
        name=name,
        data-range="true",
        value=value,
        autocomplete="off"
      )
    .filter-date__datepicker
      +datepicker({ dateFrom, dateTo })
