include ../card/card.pug
include ../card-room-info/card-room-info.pug
include ../rate/rate.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin preview-room({roomNumber='',id='0',images=[],isLuxury=false,rate=0,price=0,reviews=''}={})
  +card('sm')
    a.preview-room(href='room.html')
      .preview-room__carousel.swiper.js-swiper
        .preview-room__carousel-container.swiper-wrapper.js-swiper-wrapper
          each image in images
            img.preview-room__image.swiper-slide.js-swiper-slide(
              src=`assets/images/${image}`,
              alt=''
            )
        .swiper-pagination.js-swiper-pagination
        .swiper-button-next.js-swiper-button-next
        .swiper-button-prev.js-swiper-button-prev
      .preview-room__content 
        .preview-room__info
          +card-room-info({roomNumber,isLuxury,price,size:'sm'})
        .preview-room__reviews
          +rate({name:`${id}-rate`,rate})
          .preview-room__reviews-value
            span.preview-room__reviews-number= reviews
            span.preview-room__reviews-text Отзывов
