
mixin preview-room({roomNumber='',id='',images=[],isLuxury=false,rate=0,price=0,reviews=''})
    +card('sm')
        a(href="/room.html").preview-room
            .preview-room__carousel.swiper
                .preview-room__carousel-container.swiper-wrapper 
                    each image in images
                        img(src=`assets/images/${image}`, alt="").preview-room__image.swiper-slide
                .swiper-pagination 
                .swiper-button-next 
                .swiper-button-prev
            .preview-room__content 
                .preview-room__info
                    +card-room-info({roomNumber,isLuxury,price,size:'sm'})
                .preview-room__reviews
                    +rate({id:`${id}-rate`,name:`${id}-rate`,rate})
                    .preview-room__reviews-value #{reviews} Отзывов
                    