


mixin feedback(data)
    .feedback-item
        .feedback-item__user
            img(src=data['avatar'], alt=data['alt']).feedback-item__user-avatar
            .feedback-item__user-info
                .feedback-item__user-name=data['name']
                .feedback-item__user-visit=data['lastVisit']
        .feedback-item__content
            .feedback-item__like
                +inputLike(data['likesCount'])
            .feedback-item__text=data['comment']