- let id = 0

mixin inputText(labelName,name,placeholder, type='text', value="")
    .input-item.input-item_lg
            label.input-label(for="input-text")=labelName
            .input-item__field
                input.input-item__input(type=type, name=name id=`input-text-${id++}` placeholder=placeholder value=value)
                

mixin inputMaskedText(labelName,name,placeholder,type='text',value="")
    .input-item.input-item_lg
        label(for="input-text-masked").input-label=labelName
        .input-item__field
            input.input-item__input.input-item__input_masked(type=type, name=name id="input-text-masked" placeholder=placeholder value=value)

mixin inputSendEmail(labelName,placeholder)
    .input-item.input-item_md
        label(for="input-send").input-label=labelName
        .input-item__field.input-item__field_send-email
            input.input-item__input.input-item__input_send-email(type="email", name="send-email" id="input-send" placeholder=placeholder)
            button.input-item__arrow(type="submit")
                <svg width="17" height="18" viewBox="0 0 17 18">
                    <path d="M8.36301 0.984375L16.3786 9L8.36301 17.0156L6.95676 15.6094L12.5349 9.98438H0.347383V8.01562H12.5349L6.95676 2.39062L8.36301 0.984375Z" fill="#BC9CFF"/>
                </svg>
