mixin rich-checkbox({ text = '', subtext = '', name = '', state = '' } = {})
  .rich-checkbox
    label.rich-checkbox__label
      input.rich-checkbox__input(
        type="checkbox",
        name=name,
        checked=state || false
      )
      span.rich-checkbox__custom-input
      span.rich-checkbox__title= text
    .rich-checkbox__description= subtext