include ../logo/logo.pug
include ../subscribe-text-field/subscribe-text-field.pug

mixin footer({isSmall=false}={})
  - const classes = isSmall ? 'footer_hidden' : ''
  - const smClasses = isSmall ? 'footer_sm-inline' : ''
  footer.footer(class=classes)
    .footer__container
      .footer__top
        .footer__company
          .footer__company-logo
            +logo
          .footer__company-description 
            | Бронирование номеров в лучшем отеле 2019 года 
            | по версии ассоциации «Отельные взгляды»
        .footer__column 
          h3.footer__column-title Навигация
          a.footer__column-item(href="/mock-address/change-me") О нас
          a.footer__column-item(href="/mock-address/change-me") Новости
          a.footer__column-item(href="/mock-address/change-me") Служба поддержки
          a.footer__column-item(href="/mock-address/change-me") Услуги
        .footer__column
          h3.footer__column-title О нас
          a.footer__column-item(href="/mock-address/change-me") О сервисе
          a.footer__column-item(href="/mock-address/change-me") Наша команда
          a.footer__column-item(href="/mock-address/change-me") Вакансии
          a.footer__column-item(href="/mock-address/change-me") Инвесторы
        .footer__column
          h3.footer__column-title Служба поддержки
          a.footer__column-item(href="/mock-address/change-me") Соглашения
          a.footer__column-item(href="/mock-address/change-me") Сообщества
          a.footer__column-item(href="/mock-address/change-me") Связь с нами
        .footer__column.footer__column_sm
          h3.footer__column-title Подписка
          .footer__column-description
            | Получайте специальные предложения и новости сервиса
          +subscribe-text-field({
            id:'subscribe-field',
            name:'email',
            placeholder:'Email'
           })
    hr.footer__line
    .container
      .footer__bottom
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__messengers
          a.footer__messenger-item(
            href="https://twitter.com/?",
            target="_blank",
            rel="noopener noreferrer"
          )
            img.footer__messenger-image(
              src="assets/images/twitter.svg",
              alt="twitter"
            )
          a.footer__messenger-item(
            href="https://www.facebook.com/",
            target="_blank",
            rel="noopener noreferrer"
          )
            img.footer__messenger-image(
              src="assets/images/facebook.svg",
              alt="facebook"
            )
          a.footer__messenger-item(
            href="https://www.instagram.com/",
            target="_blank",
            rel="noopener noreferrer"
          )
            img.footer__messenger-image(
              src="assets/images/instagram.svg",
              alt="instagram"
            )
  footer.footer.footer_sm(class=smClasses)
    .footer__company-logo
      +logo
    .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer__messengers
      a.footer__messenger-item(
        href="https://twitter.com/?",
        target="_blank",
        rel="noopener noreferrer"
      )
        img.footer__messenger-image(
          src="assets/images/twitter.svg",
          alt="twitter"
        )
      a.footer__messenger-item(
        href="https://www.facebook.com/",
        target="_blank",
        rel="noopener noreferrer"
      )
        img.footer__messenger-image(
          src="assets/images/facebook.svg",
          alt="facebook"
        )
      a.footer__messenger-item(
        href="https://www.instagram.com/",
        target="_blank",
        rel="noopener noreferrer"
      )
        img.footer__messenger-image(
          src="assets/images/instagram.svg",
          alt="instagram"
        )
