mixin subscribe-text-field(arguments = {})
  -
    const {
      label = '',
      name = '',
      placeholder = '',
      type = 'text',
      value = ''
    } = arguments

  .subscribe-text-field
    .subscribe-text-field__label= label
    form.subscribe-text-field__form
      input.subscribe-text-field__input(
        type="email",
        name=name,
        placeholder=placeholder
      )
      button.subscribe-text-field__arrow(type="submit")
        img.subscribe-text-field__arrow-img(
          src="assets/images/subscribe-arrow.svg",
          alt="arrow"
        )
