


mixin inputBorderButton(text,isEmpty=true,isLong=false)
        if isEmpty
                button.input-button.input-button_empty(type="submit")=text
        else if isLong
                button.input-button.input-button_long(type="submit")=text
        else
                button.input-button(type="submit")=text

mixin inputNoBorderButton(text)
        button.input-button.input-button_no-bordered(type="submit")=text