mixin default-text-field(arguments = {})
  -
    const {
      label = '',
      subLabel = '',
      name = '',
      placeholder = '',
      type = 'text', 
      value = ''
    } = arguments

  .default-text-field
    if label
      .default-text-field__labels
        .default-text-field__label=label
        if subLabel
          .default-text-field__sub-label=subLabel
    input.default-text-field__input(
      type=type,
      name=name,
      placeholder=placeholder,
      value=value
    )
